In [1]:
print('hello world')

hello world

In [2]:
print('new')

new

# Ha. Markdown
Here you can write notes

In [1]:
print('new')

new

In [1]:
print('haha')

haha

sdfafa

# Strings
String formatting!

In [2]:
'String here {} then also {}'.format('something1','two')

'String here something1 then also two'

In [3]:
print('this is a string {}'.format('INSERT'))

this is a string INSERT

In [6]:
print('the {2} {1} {0} and the {0}'.format('fox','brown','quick'))

the quick brown fox and the fox

In [9]:
print('the {q} {b} {f} and the {f}'.format(b='brown',f='fox',q='quick'))

the quick brown fox and the fox

In [10]:
result = 100/777

In [11]:
result

0.1287001287001287

In [12]:
print('The result was {}'.format(result))

The result was 0.1287001287001287

In [13]:
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [67]:
print('The result was "{r:10.3}"'.format(r=result))
print('The result was "{r:10.5}"'.format(r=result))
print('The result was "{r:10.6}"'.format(r=result))
print('The result was "{r:10.3f}"'.format(r=result))
print('The result was "{r:10.5f}"'.format(r=result))
print('The result was "{r:10.6f}"'.format(r=result))
print('The result was {r:.>10} '.format(r="haha"))
print('The result was {r:.>10}'.format(r=13.0))
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))
a="Apple"
o="Orange"
aq = 3
oq = 10
print(f'{a:.<8}{aq:.>9}')
print(f'{o:.<8}{oq:.>9}')

The result was "     0.129"
The result was "    0.1287"
The result was "    0.1287"
The result was "     0.129"
The result was "   0.12870"
The result was "  0.128700"
The result was ......haha
The result was ......13.0
Fruit    | Quantity
Apples   |       3.0
Oranges  |        10
Apple...........3
Orange.........10

In [29]:
name = "Bert"

In [33]:
print("Hello, his name is {}".format(name))
print(f"Hello, his name is {name}, value is {result}")
print(f'Hello, his name is {name}, value is {result}')

Hello, his name is Bert
Hello, his name is Bert, value is 0.1287001287001287
Hello, his name is Bert, value is 0.1287001287001287

In [69]:
print('python {}!'.format('rules'))

python rules!

# Lists

In [77]:
mylist = [1,2,3,'four',5.6]

In [71]:
len(mylist)

5

In [78]:
mylist[::-1]

[5.6, 'four', 3, 2, 1]

In [79]:
anotherlist = [7,'eight']

In [80]:
mylist + anotherlist

[1, 2, 3, 'four', 5.6, 7, 'eight']

In [82]:
fulllist = mylist + anotherlist

In [83]:
fulllist

[1, 2, 3, 'four', 5.6, 7, 'eight']

In [84]:
fulllist[1] ='Two'

In [85]:
fulllist

[1, 'Two', 3, 'four', 5.6, 7, 'eight']

In [86]:
print(fulllist)

[1, 'Two', 3, 'four', 5.6, 7, 'eight']

In [90]:
fulllist.append("9")

In [93]:
fulllist

[1, 'Two', 3, 'four', 5.6, 7, 'eight']

In [94]:
fulllist.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [96]:
 numlist=[4,5,2,9,4]
 slist = ['one','two','three','four']

In [99]:
numlist.sort()
slist.sort()

In [101]:
print(numlist)
print(slist)

[2, 4, 4, 5, 9]
['four', 'one', 'three', 'two']

In [103]:
numlist.reverse()

In [104]:
print(numlist)

[9, 5, 4, 4, 2]

In [105]:
matrix = [
    [1,2,3],
    [2,3,7],
    [2,5,8]
]

In [106]:
matrix[1][2]

7

In [112]:
"bla"

'bla'

In [122]:
a = "apple"
b = 'banana'
a1 = 5.678
b1 = 235.2910
print (f"{a[2:]:.<8}.{a1:.>9.4f}")
print (f"{b[1::2]:.<8}.{b1:.>9.4f}")

ple.........5.6780
aaa.......235.2910

# Dictionaries
Now the fun part begins

In [123]:
mydict = {'bert':'wkfjfwkej', 'tine':'jjjfwiwiqpqpn'}

In [124]:
mydict['bert']

'wkfjfwkej'

In [129]:
prices = {'apple':2.99,'banana':1.99,'orange':1.73,'milk':2.89,'avocado':[1,2,3],'innerdict':{"k1":"v1","k2":"v2","k3":"10000 luchtballonnen"}}

In [128]:
print(f"€{prices['banana']}")

€1.99

In [132]:
prices['innerdict']['k3'].upper()

'10000 LUCHTBALLONNEN'

In [131]:
prices['avocado'][2]

3

In [133]:
d = {'k1':100,'k2':200}

In [134]:
d['k3']=300
print(d)

{'k1': 100, 'k2': 200, 'k3': 300}

In [160]:
d[4]='hallo'

In [161]:
d

{'k1': 'hallo', 'k2': 200, 'k3': 300, 5: 'hallo', 4: 'hallo'}

In [158]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 5])

In [143]:
d.values()

dict_values(['hallo', 200, 300])

In [144]:
d.items()

dict_items([('k1', 'hallo'), ('k2', 200), ('k3', 300)])

In [145]:
mijn_tekst = "Kaat Van Dooren"

In [155]:
mijn_tekst[::-1].lower()

'nerood nav taak'

In [163]:
d[5]

'hallo'

# Tupels

In [170]:
t=(1,1,2,3)
l=[1,1,2,3]
print(type(t))
print(type(l))

<class 'tuple'>
<class 'list'>

In [166]:
t[1:]

(2, 3)

In [174]:
t.count(1)

2

In [176]:
len(t)

4

# Sets

In [177]:
s = set()

In [178]:
s.add(1)

In [184]:
s.add("two")
s.add(1.3)

In [182]:
s.add("two")

In [185]:
s

{1, 1.3, 'two'}

In [186]:
l = [1,1,1,2,2,2,2]
s = set(l)

In [188]:
l

[1, 1, 1, 2, 2, 2, 2]

In [189]:
set('Mississippim')

{'M', 'i', 'm', 'p', 's'}

# Booleans
ahh no...

In [190]:
1 == 1
1 < 2
b = None

In [191]:
b

# Files
Yes

In [42]:
%%writefile myfile.txt
Hello, this is a text file
This is the second line
And this is the third
# This is Notebook magic

Overwriting myfile.txt

In [1]:
myfile = open('myfile.txt')

In [201]:
pwd

'/Users/bert/Documents/Complete-Python-3-Bootcamp'

In [23]:
myfile.seek(0) # reset cursor
myfile.read()

ValueError: I/O operation on closed file.

In [21]:
myfile.seek(0) # reset cursor
myfile.readlines()

['Hello, this is a text file\n',
 'This is the second line\n',
 'And this is the third\n',
 '# This is Notebook magic\n']

In [17]:
myfile.reconfigure()

In [25]:
myfile.close()

In [30]:
filebackup = None
with open('myfile.txt') as myfile:
    contents = myfile.readlines()
    filebackup = myfile

print(contents)
print(filebackup.closed)

['Hello, this is a text file\n', 'This is the second line\n', 'And this is the third\n', '# This is Notebook magic\n']
True

In [44]:
with open('myfile.txt',mode='a') as f:
    f.write('another line\n')

In [49]:
with open('myfile_doesntexist.txt',mode='w') as f:
    f.write('only line\n')

In [58]:
l = [1, 2, 3]
l += 'does this work'
print(l)

[1, 2, 3, 'd', 'o', 'e', 's', ' ', 't', 'h', 'i', 's', ' ', 'w', 'o', 'r', 'k']

In [56]:
l

[1, 2, 3, 'does this work']

In [60]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
firstcol = [r[0] for r in matrix]
print (firstcol)

[1, 4, 7]